#staticFooter{
	box-sizing:border-box;
	clear:both;
	width:100vw;
	height: 60vh;
	background-color:$gray;
	font-family: 'Roboto Condensed', helvetica, sans-serif;
	#container{
		width:100vw;
		height:40vh;
		margin:0 auto;
		display:flex;
		justify-content:space-around;
		padding:5vh 0;
		#first,#second{

			width:22.5vw;
			h1{
				margin-left:8.2vw;
			}
			// display:flex;
			// flex-direction:column;
			ul{
				height:30vh;
				margin-left:8.2vw;
				li{
					text-align:left;
					text-decoration:underline;
					border-bottom:1px black solid;
					padding-bottom:2vh;
					padding-top:2.5vh;
				}
				li:hover{
					text-decoration:none;
				}
			}
		}
		#third{
			width:40vw;
			p{
				padding-top:2.5vh;
				line-height: 2rem;
				font-size:1.2rem;
			}
			ul{

				height:5vh;
				display:flex;
				width:20vw;
				margin:4vh auto 0 auto;;
				li{
					font-size:1.4em;
					width:4vw;
				}
			}
			i.fa{
				color:$silver-sand;
				cursor:pointer;
			}
		}
	}
	ul#cprite{
		padding-top:10vh;
		width:60vw;
		margin:0 auto;
		display:flex;
		li{
			width:20vw;
			text-align:center;
			color:$silver-sand;
			span{
				text-decoration:underline;
				cursor:pointer;
				padding-left:.5em;
			}
		}
	}
}
