#staticNav{
	background-color:$white;
	border-bottom: solid 2px $lowLight;
	border-top: solid 2px $lowLight;
	height: 5vh;
	align-items: center;
	font-family: 'Roboto Condensed', helvetica, sans-serif;
	h1{
		float: left;
		margin-left:2.5vw;
		width:5vw;
		height:5vh;
		text-align:center;
		line-height:5vh;
		cursor:pointer;
	}
	ul{
		width:40vw;
		margin-right:5vw;
		float:right;
		display:flex;
		height:5vh;
		li{
			width:8vw;
			text-align:center;
			height:5vh;
			line-height:5vh;
			cursor:pointer;
		}
		li:hover{
			color:$blue;
		}
	}
	li:nth-child(5){
		color:$white;
		background-color:$blue;
		border: 1px $blue solid;
		border-radius:10px;
		height: 3vh;
		margin:1vh 0;
		line-height:3vh;
	}
	li:nth-child(5):hover{
		color:$white;
		background-color:$light-blue;
		border-color:$light-blue;
	}
}
