html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#staticFooter {
  box-sizing: border-box;
  clear: both;
  width: 100vw;
  height: 60vh;
  background-color: #F8F8F8;
  font-family: 'Roboto Condensed', helvetica, sans-serif; }
  #staticFooter #container {
    width: 100vw;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 5vh 0; }
    #staticFooter #container #first, #staticFooter #container #second {
      width: 22.5vw; }
      #staticFooter #container #first h1, #staticFooter #container #second h1 {
        margin-left: 8.2vw; }
      #staticFooter #container #first ul, #staticFooter #container #second ul {
        height: 30vh;
        margin-left: 8.2vw; }
        #staticFooter #container #first ul li, #staticFooter #container #second ul li {
          text-align: left;
          text-decoration: underline;
          border-bottom: 1px black solid;
          padding-bottom: 2vh;
          padding-top: 2.5vh; }
        #staticFooter #container #first ul li:hover, #staticFooter #container #second ul li:hover {
          text-decoration: none; }
    #staticFooter #container #third {
      width: 40vw; }
      #staticFooter #container #third p {
        padding-top: 2.5vh;
        line-height: 2rem;
        font-size: 1.2rem; }
      #staticFooter #container #third ul {
        height: 5vh;
        display: flex;
        width: 20vw;
        margin: 4vh auto 0 auto; }
        #staticFooter #container #third ul li {
          font-size: 1.4em;
          width: 4vw; }
      #staticFooter #container #third i.fa {
        color: #BBBBBB;
        cursor: pointer; }
  #staticFooter ul#cprite {
    padding-top: 10vh;
    width: 60vw;
    margin: 0 auto;
    display: flex; }
    #staticFooter ul#cprite li {
      width: 20vw;
      text-align: center;
      color: #BBBBBB; }
      #staticFooter ul#cprite li span {
        text-decoration: underline;
        cursor: pointer;
        padding-left: .5em; }

#staticNav {
  background-color: #FFFFFF;
  border-bottom: solid 2px #ECECEC;
  border-top: solid 2px #ECECEC;
  height: 5vh;
  align-items: center;
  font-family: 'Roboto Condensed', helvetica, sans-serif; }
  #staticNav h1 {
    float: left;
    margin-left: 2.5vw;
    width: 5vw;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    cursor: pointer; }
  #staticNav ul {
    width: 40vw;
    margin-right: 5vw;
    float: right;
    display: flex;
    height: 5vh; }
    #staticNav ul li {
      width: 8vw;
      text-align: center;
      height: 5vh;
      line-height: 5vh;
      cursor: pointer; }
    #staticNav ul li:hover {
      color: #629DD1; }
  #staticNav li:nth-child(5) {
    color: #FFFFFF;
    background-color: #629DD1;
    border: 1px #629DD1 solid;
    border-radius: 10px;
    height: 3vh;
    margin: 1vh 0;
    line-height: 3vh; }
  #staticNav li:nth-child(5):hover {
    color: #FFFFFF;
    background-color: #8eb1d0;
    border-color: #8eb1d0; }

* {
  box-sizing: border-box; }

body {
  background-color: #FFFFFF; }

/*# sourceMappingURL=master.css.map */
