doctype html
html(lang='en', ng-app="app")
	head
		title Insert title here
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='../css/master.css')
		script(src="https://use.fontawesome.com/416e68c692.js")
	body(ng-controller="ctrl")
		nav#staticNav
			h1 ION
			ul
				li Home
				li Other
				li PlaceHolder
				li Text
				li SignIN



		footer#staticFooter
			#container
				#first
					h1 ACCUMSAN
					ul
						li Nascetur nunc varius
						li Nascetur nunc varius
						li Nascetur nunc varius
						li Nascetur nunc varius
				#second
					h1 ACCUMSAN
					ul
						li Nascetur nunc varius
						li Nascetur nunc varius
						li Nascetur nunc varius
						li Nascetur nunc varius
				#third
					h1 ALIQUAM INTERDUM
					p Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.
					ul
						li
							i.fa.fa-twitter
						li
							i.fa.fa-facebook
						li
							i.fa.fa-instagram
						li
							i.fa.fa-linkedin
						li
							i.fa.fa-pinterest-p
			ul#cprite
				li Untitled. All rights reserved.
				li Design:
					span TEMPLATED
				li Images:
					span Unsplash





		// Angular Cdn
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
		// jquery Cdn
		script(src="http://code.jquery.com/jquery-3.1.0.min.js")
		// Angular files
		script(type="text/javascript", src="../js/app.js")
		script(type="text/javascript", src="../js/ctrl.js")
		script(type="text/javascript", src="../js/srvc.js")
		// Personal etc js
		script(type="text/javascript", src="../js/script.js")
